:root {
    --primary-font: 'Press Start 2P', cursive;
    --secondary-font: 'Chakra Petch', sans-serif;
    --primary-color: #cc47e0;
    --secondary-color: #170a1e;
    --background-color: #571678;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

body {
    background-color: var(--secondary-color) !important;
}

/* Banner */
.bg-banner {
    padding: 5rem 0;
    /* height: 100vh; */
    background: linear-gradient(to bottom, var(--background-color), var(--secondary-color));
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: #fff;
    text-align: center;
}

.banner img {
    max-height: 300px;
    max-width: 100%;
}

.banner > span {
    font-size: 2em;
}

.banner > span.banner-exibition {
    font-size: 1.25em;
}

.banner-button {
    display: flex;
    gap: 1rem 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.banner-button a.exibition {
    background-color: var(--primary-color);
}

.banner-button a.exibition:hover {
    background-color: rgb(204, 71, 224, 0.2);
}

.banner a {
    padding: 1rem 2rem;
    background-color: rgb(204, 71, 224, 0.2);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1.5rem;
    transition: .3s;
}

.banner a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.banner a i {
    font-size: 1.5em;
}

.banner-scroll {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-scroll .scroll-icon {
    font-size: 3em;
}

/* Intro */
.bg-intro {
    padding: 3rem 0;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.intro-desc img {
    height: 100px;
    margin-bottom: 2rem;
}

.intro-desc p {
    font-size: .75em;
    color: #fff;
}

.intro-desc p span {
    color: var(--primary-color);
}

/* Teaser */
.bg-teaser {
    padding: 3rem 0;
}

.bg-teaser h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-align: center;
}

/* Content */
.bg-content {
    padding: 3rem 0;
}

.bg-content h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-align: center;
}

/* Event */
.bg-event {
    padding: 3rem 0;
}

.bg-event h1 {
    color: var(--primary-color);
    /* text-align: center; */
    margin-bottom: 2rem;
}

.event-card {
    padding: 1rem;
    border: 5px solid var(--primary-color);
    margin-bottom: 1.5rem;
}

.event-title h2 {
    color: #fff;
    font-size: .75em;
    text-align: center;
}

.event-title h3 {
    color: var(--primary-color);
    font-size: .75em;
    text-align: center;
}

.event-poster {
    margin-bottom: 1rem;
}

.event-poster > span {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.event-card > a {
    background-color: var(--background-color);
    padding: .5rem 0;
    display: block;
    text-align: center;
    font-size: .75em;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    transition: .3s;
}

.event-card > a:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.upcoming-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100% - 1.5rem);
    color: #fff;
    padding-left: 2rem;
    gap: 3rem;
}

.upcoming-event-container h3 {
    color: var(--primary-color);
    font-size: 1.25em;
}

.upcoming-event-container span {
    color: #fff;
}

.upcoming-event a {
    color: var(--primary-color);
    transition: .3s;
    display: block;
    word-break: break-all;
    font-size: .9em;
    margin-top: .25rem;
}

.upcoming-event a:hover {
    color: var(--background-color);
}

/* Sponsor */
.bg-sponsor {
    padding: 3rem 0;
}

.poster-img img {
    border: 2px solid var(--primary-color);
    margin-bottom: 2rem;
}

.sponsor-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 2rem);
    padding: 1rem 0;
    background-color: var(--background-color);
}

.sponsor-container {
    margin-bottom: 2rem;
    color: #fff;
    overflow: hidden;
}

.sponsor-container h2 {
    text-align: center;
    color: #fff;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    overflow: hidden;
}

.sponsor-list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.sponsor-list img {
    height: 100px;
    max-width: 100%;
}

.sponsor-list img.long {
    height: 50px;
}

.medpart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 2rem;
    overflow: hidden;
}

.medpart-list img {
    height: 75px;
}

.contact-person {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.contact-detail a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.contact-detail a:hover {
    color: var(--primary-color);
}

/* Media Query */
@media(max-width: 576px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }

    .medpart-list {
        padding: 0;
    }

    .sponsor-wrapper {
        height: auto;
    }

    .upcoming-event {
        height: auto;
    }

    .upcoming-event {
        height: auto;
        gap: 2rem;
        padding-left: 0;
        margin-top: 1rem;
    }

    .bg-banner {
        padding: 3rem 0;
    }

    .banner span {
        font-size: 1em;
    }

    .banner-scroll .scroll-icon {
        font-size: 2em;
    }
}

@media(min-width: 576px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-wrapper {
        height: auto;
    }

    .upcoming-event {
        height: auto;
    }

    .upcoming-event {
        height: auto;
        gap: 2rem;
        padding-left: 0;
        margin-top: 2rem;
    }
    
    .bg-banner {
        padding: 3rem 0;
    }

    .banner span {
        font-size: 1.25em;
    }

    .banner img {
        max-width: 70%;
    }

    .banner-scroll .scroll-icon {
        font-size: 2em;
    }
}

@media(min-width: 768px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-wrapper {
        height: auto;
    }

    .upcoming-event {
        height: auto;
        gap: 2rem;
        padding-left: 0;
        margin-top: 2rem;
    }

    .bg-banner {
        padding: 3rem 0;
    }

    .banner span {
        font-size: 1.25em;
    }

    .banner img {
        max-width: 70%;
    }

    .banner-scroll .scroll-icon {
        font-size: 2em;
    }
}

@media(min-width: 992px) {
    .intro-desc img {
        margin-left: 0;
        margin-right: 0;
    }

    .sponsor-wrapper {
        height: calc(100% - 2rem);
    }

    .upcoming-event {
        height: calc(100% - 1.5rem);
        gap: 3rem;
        padding-left: 2rem;
        margin-top: 0;
    }

    .bg-banner {
        padding: 5rem 0;
    }

    .banner span {
        font-size: 1.25em;
    }

    .banner img {
        max-width: 100%;
    }

    .banner-scroll .scroll-icon {
        font-size: 3em;
    }
}