:root {
    --primary-font: 'Press Start 2P', cursive;
    --secondary-font: 'Chakra Petch', sans-serif;
    --primary-color: #cc47e0;
    --secondary-color: #170a1e;
    --background-color: #571678;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background-color: var(--secondary-color) !important;
}

/* Banner */
.bg-banner {
    padding: 3rem 0;
    /* background: url(../images/3.jpeg);
    background-repeat: repeat;
    background-size: 30%; */
    height: 100vh;
    background: linear-gradient(to bottom, var(--background-color), var(--secondary-color));
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* color: var(--primary-color); */
    color: #fff;
}

.banner img {
    max-height: 300px;
    max-width: 100%;
}

.banner > span {
    font-size: 2em;
}

.banner a {
    padding: 1rem 2rem;
    background-color: rgb(204, 71, 224, 0.2);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1.5rem;
    transition: .3s;
}

.banner a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.banner a i {
    font-size: 2em;
}

.banner-scroll {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-scroll .scroll-icon {
    font-size: 3em;
}

/* Intro */
.bg-intro {
    padding: 3rem 0;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.intro-desc img {
    height: 100px;
    margin-bottom: 2rem;
}

.intro-desc p {
    font-size: .75em;
    color: #fff;
}

.intro-desc p span {
    color: var(--primary-color);
}

/* Event */
.bg-event {
    padding: 3rem 0;
}

.bg-event h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.event-card {
    padding: 1rem;
    border: 5px solid var(--primary-color);
    margin-bottom: 1.5rem;
}

.event-title h2 {
    color: #fff;
    font-size: .75em;
    text-align: center;
}

.event-title h3 {
    color: var(--primary-color);
    font-size: .75em;
    text-align: center;
}

.event-poster {
    margin-top: 1.5rem;
}

.event-poster > span {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: var(--primary-color);
}

/* Sponsor */
.bg-sponsor {
    padding: 3rem 0;
}

.poster-img img {
    border: 2px solid var(--primary-color);
    margin-bottom: 2rem;
}

.sponsor-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 2rem;
}

.sponsor-container {
    margin-bottom: 2rem;
    color: #fff;
}

.sponsor-container h2 {
    text-align: center;
    color: var(--primary-color);
}

.contact-person {
    margin-top: 2rem;
    color: #fff;
}

.contact-person table tr td {
    padding-right: .5rem;
}

.contact-person table tr td a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.contact-person table tr td a:hover {
    color: var(--primary-color);
}

/* Media Query */
@media(max-width: 576px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 576px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 768px) {
    .intro-desc img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 992px) {
    .intro-desc img {
        margin-left: 0;
        margin-right: 0;
    }
}